<!DOCTYPE HTML>
<html>

<head>
{% load static %}
  <title>寻趣</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="/static/js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'index' %}">find fun <span class="logo_colour">寻趣</span></a></h1>
          <h2>一个有趣的网站</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="#">广场</a></li>
            <li><a href="{% url 'index' %}">我的主页</a></li>
            <li><a href="{% url 'examples' %}">我的文章</a></li>
            <li><a href="{% url 'a_page' %}">一个网页</a></li>
            <li><a href="{% url 'another' %}">其他页面</a></li>
            <li><a href="#">更多功能</a>
              <ul>
                <li><a href="#">机票信息提醒</a></li>
                <li><a href="#">机票信息提醒</a>
                  <ul>
                    <li><a href="#">机票信息提醒</a></li>
                    <li><a href="#">机票信息提醒</a></li>
                    <li><a href="#">机票信息提醒</a></li>
                    <li><a href="#">机票信息提醒</a></li>
                    <li><a href="#">机票信息提醒e</a></li>
                  </ul>
                </li>
                <li><a href="#">微信小程序</a></li>
                <li><a href="#">爬虫</a></li>
                <li><a href="#">机器学习</a></li>
              </ul>
            </li>
            <li><a href="contact.php">联系我们</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <h3>Latest News</h3>
          <h4>New Website Launched</h4>
          <h5>January 1st, 2012</h5>
          <p>将要上线的功能<br /><a href="#">更多</a></p>
        </div>
        <div class="sidebar">
          <h3>友情链接</h3>
          <ul>
            <li><a href="https://www.zhihu.com/people/liv-86-50/activities">知乎</a></li>
            <li><a href="https://github.com/541573560">github</a></li>
            <li><a href="#">微博</a></li>
            <li><a href="https://www.douban.com/people/72085559/">豆瓣</a></li>
          </ul>
        </div>
      </div>
      {% block content%}
      <div class="content">
        <h1>欢迎来到harry的网站</h1>
        <p>This simple, fixed width website template is released under a <a href="http://creativecommons.org/licenses/by/3.0">Creative Commons Attribution 3.0 Licence</a>. This means you are free to download and use it for personal and commercial projects. However, you <strong>must leave the 'design from css3templates.co.uk' link in the footer of the template</strong>.</p>
        <p>This template is written entirely in <strong>HTML5</strong> and <strong>CSS3</strong>. The photo used in the design was taken by me.</p>
        <p>You can view more free CSS3 web templates <a href="http://www.css3templates.co.uk">here</a>.</p>
        <p>This template is a fully documented 5 page website, with an <a href="examples.html">examples</a> page that gives examples of all the styles available with this design. There is also a working PHP contact form on the contact page.</p>
      </div>
      {% endblock %}
    </div>
    <footer>
      <p>寻趣 &copy; scenic_photo_two | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
  </div>
  <p>&nbsp;</p>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="/static/js/jquery.sooperfish.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>