{% extends 'sf_menu.html' %}
{% block content %}
<html>
    <body>
        <h3>留言</h3> <!--h1-> h6-->
        <!--method: POST /GET -->
        <form action="/gustbook/save/" method="POST" novalidate="novalidate">
        {% csrf_token %}
            <table class="table table-striped table-bordered table-hover table-condensed">
                <label>用户名:</label> <input type="text" name="username" placeholder="用户名" /> <br /><br />
                <label>email:</label> <input type="text" name="email" placeholder="email" /><br /><br />
                <label>内  容:</label> <textarea name="content" placeholder="内容"> </textarea><br /><br />
            </table>
            <input class="btn btn-success" type="submit" value="留言"/>
        </form>
    </body>
</html>
{% endblock %}
